[
  {
    "label": "Grammar",
    "value": "## Grammar Notes\n- "
  },
  {
    "label": "Usage",
    "value": "## Usage Notes\n- "
  },
  {
    "label": "Context",
    "value": "## Context\n- "
  },
  {
    "label": "Synonyms",
    "value": "## Synonyms\n- "
  },
  {
    "label": "Etymology",
    "value": "## Etymology\n"
  },
  {
    "label": "Idiom",
    "value": "## Idiom/Expression\n- "
  }
]