[
  {
    "label": "→",
    "value": "→"
  },
  {
    "label": "←",
    "value": "←"
  },
  {
    "label": "•",
    "value": "•"
  },
  {
    "label": "✓",
    "value": "✓"
  },
  {
    "label": "✗",
    "value": "✗"
  },
  {
    "label": "“ ”",
    "value": "“{{cursor}}”"
  },
  {
    "label": "…",
    "value": "…"
  },
  {
    "label": "—",
    "value": "—"
  }
]
